<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2a6a3d41-0aaf-47c1-a038-ae8e519751bf/resourceGroups/crowdlaunch/providers/Microsoft.Web/sites/crowdlaunch-backend</ResourceId>
    <ResourceGroup>crowdlaunch</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://crowdlaunch-backend.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://crowdlaunch-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$crowdlaunch-backend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>